ek-single-category {
  img {
    width: fit-content;
    height: 220px;
  }
  .category-title {
    font-weight: bolder;
  }
  .category-description {
    font-size: 17px;
  }
  .visit-category{
    font-size: 15px;
    color: #32db64;
  }
}
