ek-single-product {
  img {
    width: 100px;
    height: 100px;
  }
  .product-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    .product-description__name {
      p {
        font-size: 18px;
      }
      display: flex;
      justify-content: space-between;
      button {
        margin-top: -5px;
        ion-icon {
          font-size: 1.5em;
        }
      }

    }
    .product-description__price {
      p {
        color: #32db64;
        font-size: 15px;
        padding-top: 8px;
      }
    }
  }

}
